#level-1.garden {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#level-2.garden {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#level-2 .peas {
  grid-column: 1 / 3;
}

#level-3.garden {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

#level-3 .onions {
  grid-column: span 2;
}

#level-3 .tomatoes {
  grid-column: span 2;
}

#level-3 .carrots {
  grid-column: span 3;
}

#level-4.garden {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    "peas peas onions carrots"
    "tomatoes lettuce onions carrots";
}

#level-4 .peas {
  grid-area: peas;
}

#level-4 .onions {
  grid-area: onions;
}

#level-4 .carrots {
  grid-area: carrots;
}

#level-4 .tomatoes {
  grid-area: tomatoes;
}

#level-4 .lettuce {
  grid-area: lettuce;
}

#level-5.garden {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas:
    "carrots . onions . lettuce"
    "carrots . onions peas peas"
    "carrots tomatoes tomatoes tomatoes .";
}

#level-5 .peas {
  grid-area: peas;
}

#level-5 .onions {
  grid-area: onions;
}

#level-5 .tomatoes {
  grid-area: tomatoes;
}

#level-5 .lettuce {
  grid-area: lettuce;
}

#level-5 .carrots {
  grid-area: carrots;
}

#level-6.garden {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
}

#level-6 .peas {
  grid-column: 2 / Span 3;
  grid-row: 2 / span 2;
}

#level-6 .onions {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
}

#level-6 .carrots {
  grid-column: 1 / span 5;
  grid-row: 1 / span 1;
}

#level-6 .tomatoes {
  grid-column: 5 / span 1;
  grid-row: 2 / span 2;
}

#level-6 .lettuce {
  grid-column: 1 / span 5;
  grid-row: 4 / span 1;
}

#level-7.garden {
  display: grid;
  grid-template-columns: repeat(5, minmax(5ch, 1fr));
}

#level-8.garden {
  display: grid;
  grid-template-columns: repeat(auto-fit, 15ch);
  grid-auto-rows: 5ch;
}

#level-9.garden {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
  grid-auto-rows: 5rem;
}
